<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="fragments/layout">
<head>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">

<title>Food & Drink</title>
<link rel="stylesheet" th:href="@{/assets/css/products/index.css}" />
</head>
<div layout:fragment="content">
	<section class="jumbotron text-center">
		<div class="container">
	    	<div th:class="filter_form">
		        <form class="form-inline" th:action="@{/products/index}">
			        <div class="form-group">
			        	<label class="" >Name</label>
		                <input type="text" class="form-control" placeholder="Product name" th:name="search">
			        </div>
			        <div class="form-group">
	                    <label class="" >Category</label>
	                    <select class="form-control" th:name="category">
	                    	<option th:text="All" th:value=0 th:selected />
	                    	<option th:each="category : ${categories}" th:text="${category.name}" th:value="${category.id}" />
	                    </select>
			         </div>
			         <div class="form-group">
	                    <label class="" >Price</label>
	                    <select class="form-control" th:name="orderBy">
	                    	<option th:value=0 th:text="Up" th:selected />
	                    	<option th:value=1 th:text="Down" />
	                    </select>
			         </div>   
		             <button type="submit" class="btn btn-default">Filter</button>
		        </form>
		        </div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-3">
					<div class="card bg-light mb-3">
						<div class="card-header bg-success text-white text-uppercase">Last
							product</div>
						<div class="card-body">
							<img class="img-fluid"
								src="https://dummyimage.com/600x400/55595c/fff" />
							<h5 class="card-title">Product title</h5>
							<p class="left_description_text">Some quick example text to build on the
								card title and make up the bulk of the card's content.</p>
							<p class="bloc_left_price">99.00 $</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="row">
						<div class="col-12 col-md-6 col-lg-4"
							th:each="product : ${products.content}">
							<div class="card">
								<img class="card-img-top" th:src="${product.image}"
									alt="Card image cap">
								<div class="card-body">
									<h4 class="card-title">
										<a th:href="${product.id}" title="View Product" th:text="${product.name}" />
									</h4>
									<p class="description_text" th:text="${product.description}" />
									<div class="row">
										<div class="col">
											<p class="btn btn-danger btn-block"
												th:text="'$'+ ${product.price}" />
										</div>
										<div class="col">
											<a th:href="@{/cart/add(productId=${product.id}, quantity=1)}" class="btn btn-success btn-block">Add to cart</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12">
						<nav aria-label="...">
							<ul class="pagination">
								<li th:class="'page-item' + ${page==products.number + 1} ? active" th:each="page : ${#numbers.sequence(1,totalPages)}">
									<a
										th:href= "@{/products/index(search=${search}, size=${products.size}, page=${page})} "
										th:text="${page}"
										th:class="page-link" />
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
</html>