<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="fragments/layout">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<title th:text="Cart" />
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<div layout:fragment="content">
<section class="jumbotron text-center">
<div class="container">
	<table id="cart" class="table table-hover table-condensed">
    				<thead>
						<tr>
							<th style="width:50%">Product</th>
							<th style="width:10%">Price</th>
							<th style="width:8%">Quantity</th>
							<th style="width:22%" class="text-center">Subtotal</th>
							<th style="width:10%"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item : ${session.cart}" >
						<form th:object="${item}" th:action="@{/cart/update}">
							<td data-th="Product" >
								<div class="row">
									<div class="col-sm-2 hidden-xs"><img th:src="${item.product.image}" class="img-responsive"/></div>
									<div class="col-sm-10">
										<a th:class="nomargin" th:href="@{'/products/'+${item.product.id}}" th:text="${item.product.name}" />
										<p th:text="${item.product.description}" />
									</div>
								</div>
							</td>
							<td data-th="Price" class="text-center" th:text="${item.product.price}" />
							<td data-th="Quantity">
								<input th:name="productId" type="hidden" class="form-control text-center" th:value="${item.product.id}">
								<input th:name="quantity" type="text" class="form-control text-center" th:value="${item.getQuantity()}">
							</td>
							<td data-th="Subtotal" class="text-center" th:text="${#numbers.formatDecimal(item.totalItem(), 1, 'DEFAULT', 2, 'DEFAULT')}" />
							<td class="actions" data-th="">
								<button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
								<a th:href="@{'/cart/remove/'+${item.product.id}}" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></a>								
							</td>
						</form>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td><a th:href="@{/products/index}" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
							<td colspan="2" class="hidden-xs"></td>
							<td class="hidden-xs text-center"><strong th:text="'Total ' + ${#numbers.formatDecimal(session.totalCart, 1, 'DEFAULT', 2, 'DEFAULT')}" /></td>
							<td><a th:href="@{/orders/new}" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
						</tr>
					</tfoot>
				</table>
</div>
</section>
</div>
