<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="ProductDAO" class="app.dao.impl.ProductDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="UserDAO" class="app.dao.impl.UserDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="CategoryDAO" class="app.dao.impl.CategoryDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="OrderDAO" class="app.dao.impl.OrderDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="OrderProductDAO" class="app.dao.impl.OrderProductDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
</beans> 
